.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

nav {
  background-color: #122;
  min-height: calc(1em + 4px);
  padding: 4px 2px 0 2px; /* top left bottom right??? */
  position: relative;
}
.jse-tab {
  background-color: #233;
  color: whitesmoke;
  padding: 0 4px;
  margin: 0 2px;
  min-width: 10ch;
  min-height: calc(1em + 8px);
  text-align: center;
  display: inline-block;
  border-radius: 4px 4px 0px 0;
  pointer-events: all;
}
.jse-tab-dummy {
  color: #00000000;
  padding: 0 4px;
  margin: 0 2px;
  min-width: 10ch;
  min-height: calc(1em);
  text-align: center;
  display: inline-block;
}

.jse-tab.active {
  background-color: darkslategray;
}

.jse-tab .jse-tab-tooltip {
  visibility: hidden;
  background-color: #122D1E;
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  min-width: 100%;
  left: 50%;
  top: 125%;
  z-index: 1;
  opacity: 0;
  transition: opacity .3s;
}

.jse-tab:hover .jse-tab-tooltip {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 4px 4px black;
}

main {
  background-color: darkslategray;
  overflow: hidden;
  flex-grow: 1;
  position: relative;
}